{
    "jsc": {
      "parser": {
        "syntax": "typescript",
        "tsx": false,
        "decorators": true,
        "dynamicImport": true
      },
      "target": "es2020",
      "paths": {
        "@application/*": ["./src/application/*"],
        "@infra/*": ["./src/infra/*"],
        "@domain/*": ["./src/domain/*"]
      },
      "baseUrl": "."
    },
    "module": {
      "type": "commonjs",
      "strictMode": false
    }
  }